---
import { SLIDERHEADER } from "@/utils/consts"
---

<div
  id="slider"
  class="relative overflow-hidden w-full h-[850px] mx-auto"
>
  <div id="slides" class="absolute inset-0">
    {
      SLIDERHEADER.map(({ Img, AltSlider }) => (
        <img
          src={Img}
          alt={AltSlider}
          class="slide absolute inset-0 w-full h-full object-cover"
        />
      ))
    }
  </div>
</div>
<style>
  @keyframes fade {
    0% {
      opacity: 0;
    }
    6.66% {
      opacity: 1;
    }
    33.33% {
      opacity: 1;
    }
    40% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  .slide {
    animation-name: fade;
    animation-duration: 30s; /* 3 slides × 10s cada uno */
    animation-timing-function: ease; /* suaviza el cambio de opacidad */
    animation-iteration-count: infinite; /* bucle infinito */
    opacity: 0; /* start hidden */
  }

  .slide:nth-child(1) {
    animation-delay: 0s;
  }
  .slide:nth-child(2) {
    animation-delay: 10s;
  }
  .slide:nth-child(3) {
    animation-delay: 20s;
  }
</style>
