---
import { BOXES } from "@/utils/consts.js"
---

<section class="flex flex-col mt-64 px-32">
  <aside class="w-1/2">
    <div class="mb-5 w-3/4">
      <p class="flex items-center text-text-section text-xl">
        Convierte cada cita en una
        <span class="flex-1 h-px bg-gray-300 ml-2"></span>
      </p>
      <p class="text-3xl font-semibold font-fallback">
        Oportunidad de crecimiento
      </p>
    </div>
    <div class="flex flex-col gap-3">
      {
        BOXES.map(({ title, icon, description }) => (
          <div class="flex flex-row items-center rounded-2xl p-4 bg-burble">
            <div class="px-4">
              <img src={icon} />
            </div>
            <div class="text-text">
              <h3 class="font-bold  font-secondary">{title}</h3>
              <p class=" text-sm  font-secondary">{description}</p>
            </div>
          </div>
        ))
      }
    </div>
  </aside>
  <aside></aside>
</section>
<style>
  .subtitle-line {
    display: flex;
    align-items: center;
    color: #888; /* Color del subtítulo */
    font-size: 16px;
    margin-bottom: 8px;
  }

  .subtitle-line::after {
    content: "";
    flex: 1;
    height: 1px;
    background-color: #ccc; /* Color de la línea */
    margin-left: 8px;
  }
</style>
