<nav
  class="bg-navbar flex flex-raw justify-around items-center mx-auto h-[108px] gap-96 font-fallback" 
>
  <div class="">
    <img src="/logotipo.svg" alt="Logo Agenda Smart" />
  </div>
  <div class="">
    <ul class="flex text-white flex-raw gap-10 items-center">
      <li>
        <a class="" href="#inicio">Inicio</a>
      </li>
      <li>
        <a class="" href="#beneficios">Beneficios</a>
      </li>
      <li>
        <a class="" href="#galeria">Galería</a>
      </li>
    </ul>
  </div>
</nav>
