---
import Form from "@/components/Form.astro";
import Slider from "@/components/Slider.astro";
---
<section class="relative">
  <div
    class="absolute z-20 w-11/12 mx-3 top-[650px] bg-white rounded-xl md:w-10/12 md:mx-16 lg:left-7/12 lg:translate-x-1/4 lg:w-sm lg:top-64"
  >
    <div class="bg-opacity-80 ">
      <Form/>
    </div>
  </div>
  <div class="z-10">text-lg <Slider />
  </div>
</section>
