---
import Form from "@/components/Form.astro";
import Slider from "@/components/Slider.astro";
---

<section class="relative">
  <div
    class="absolute z-20 w-11/12 mx-auto left-0 right-0 top-[550px] bg-white rounded-xl md:w-10/12 md:mx-16 lg:w-sm lg:top-64 lg:right-0 lg:left-auto"
  >
    <Form />
  </div>
  <div class="z-10 w-full h-[600px] md:h-[850px]">
    <Slider />
  </div>
</section>
